@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

html {
  font-size: 62.5%;

  @include desktop {
    font-size: 70%;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}