.footer {
  background: #333;
  padding: 6rem 0;
  color: #fff;

  a {
    color: #fff;
    transition: all .3s;
    text-decoration: none;
    &:hover {
      color: $color-main;
    }
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h3 {
    margin: 0;
    padding: 0 0 1rem 0;
    font-size: 2rem;
    text-align:center;
    border-bottom: 1px solid #f7f7f7;
  }

  &__list {
    list-style:none;
    margin: 1rem 0 0 0;
    padding: 0;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    &-item {
      text-align: center;
      margin: 0 1rem;

      &:not(:last-child) {
        margin-bottom:.5rem;
      }

      a {
        color: #fff;
        text-decoration: none;
        text-transform:uppercase;
      }
    }
  }

  &__social {
    margin-top: 1rem;

    &-link {
      color: #fff;
      font-size: 3rem;

      &:hover {
        transform: translateY(-.5rem);
      }
    }
  }


}

.subfooter {
  p {
    margin: .7rem 0;
  }

  a {
    text-decoration: none;
    color: #333;
  }
}