.reflection {

  &__content {

    h3 {
      font-size: 1.9rem;
    }
  }
}


.carousel {
  position:relative;

  &__dot-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
  }


  &__buttons > * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    background: none;
    border: 0;
    font-size: 3rem;
    color: #585858;
    opacity: 0.6;
    &:hover, &:focus {
      opacity: 1;
    }

    &:active {
      outline: none;
    }
  }

  &__back-button {
    left:.5rem;
  }

  &__next-button {
    right: .5rem;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: block;
    margin: .5rem auto;
  }

  li {
    padding-bottom: 35rem !important;
  }
}

.react-tabs {
  &__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;

    &--selected {
      background: #fff;
      border-color: #aaa;
      color: black;
      border-radius: 5px 5px 0 0;
      padding: .6rem 2rem;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}